<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="row" style="margin-top:20px; margin-left:350px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <fieldset>
        <h1 style="text-align:center"><%= t('common.sign_in') %></h1>
        <hr class="colorgraph">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
        <% end -%>
        <% end -%>
        <div class="field">
          <br>  <%= f.email_field :email, class: 'form-control input-lg', autofocus: true, autocomplete: "email", placeholder: t('activerecord.attributes.user.email') %> <br  />
        </div>
        <div class="field">
          <%= f.password_field :password, class: 'form-control input-lg', autocomplete: "current-password",placeholder: t('activerecord.attributes.user.password')  %>
          <br>
          <hr class="colorgraph">
          <div class="row">
            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
            </div>
            <% end %>
          </div>
        </fieldset>
        <hr>
      </div>
