<div class="card mb-4">
  <h6 class="card-header backgrond-text">
    <span data-toggle="tooltip" data-placement="left" title="Click here to see the profile">
      <%= t('home.by') %> <%=link_to lection.user.username, lection.user %></span>
      <div class="badge badge-pill badge-secondary float-right"><%= t('home.created_at')%> <%= lection.created_at.to_s.split('+0300')[0] %></div>
  </h6>
  <div class="card-body">
      <% if current_user%>
      <% if  current_user==lection.user  || current_user.admin %>
      <div class="btn-group dropright float-right">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
        <div class="dropdown-menu">
          <%= link_to   t('common.destroy'), lection,class:"dropdown-item align-middle" , method: :delete, data: { confirm: 'Are you sure?' } %>
          <td><%= link_to t('common.edit'), edit_lection_path(lection),class:"dropdown-item align-middle" %></td>
        </div>
      </div>
      <% end %>
      <% end %>
      <h1><%= lection.title %></h1>
      <hr>
      <h6 class="card-title"><%= lection.description+" | " + t('new.speciality') + lection.speciality.to_s %> </h6>
      <hr>
      <% if lection.body.length > 250 %>
      <%= truncate(lection.body, length: 250) %>
      <% else %>
      <%= markdown(lection.body) %>
      <% end %>
    </div>
    <div class="card-footer text-muted">
      <% lection.tag_list.each do |tag| %>
      <span class="badge badge-pill badge-info"><%= tag %></span>
      <% end %>
      <%= link_to t('common.read_more'), lection ,class: "btn btn-outline-info float-right"%>
    </div>
  </div>
